/*
  This is a reasonable starting point for the CSS in Sprint 1.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
}

.repl {
  position: relative;
  min-height: 95vh;
  background-position: center;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1em;
}

.repl-history {
  /* font family from 
  https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  height: 85vh;
  max-height: 85vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.repl-input {
  position: fixed;
  width: 100vw;
  height: 10vh;
}

.repl-command-box {
  width: 90%;
  margin: auto;
  display: block;
}

.repl-button {
  margin: auto;
  display: block;
}

td {
  border: 1px solid #000000;
}
